certifi==2020.6.20
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
Flask @ file:///opt/conda/conda-bld/flask_1648041541647/work
Flask-SQLAlchemy @ file:///tmp/build/80754af9/flask-sqlalchemy_1616180561581/work
greenlet @ file:///C:/ci_310/greenlet_1642081533872/work
gunicorn==20.1.0
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
MarkupSafe @ file:///C:/ci_310/markupsafe_1642084045935/work
pyglet==1.5.21
SQLAlchemy @ file:///C:/ci/sqlalchemy_1647599976408/work
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
wincertstore==0.2
